<!DOCTYPE html>
<html>
<head>
	<title>Tasks</title>
	<link rel='stylesheet' href='https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/dark.css'>
</head>
<body>
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Priority</th>
				<th>Summary</th>
				<th>Due</th>
			</tr>
		</thead>
		<tbody>
			{% for task in tasks %}
			<tr>
				<td>{{task.id}}</td>
				<td>{{task.priority}}</td>
				<td>{{task.summary}}</td>
				<td>{{task.due}}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</body>

