<!DOCTYPE html>
<html>
<head>
	<title>Tasks</title>
	<link rel='stylesheet' href='https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/dark.css'>
	<style>
		tr#trform {
			background-color:#363f47;
		}
		td.buttons * , td.buttons * * {
			display:inline;
		}
	</style>
</head>
<body>
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Priority</th>
				<th>Summary</th>
				<th>Due</th>
			</tr>
		</thead>
		<tbody>
			<tr id="trform">
				<form action="/task" method="POST">
					<td><button type="submit">+</button></td>
					<td><input name="priority" type="number" placeholder="Priority" autocomplete="off"></td>
					<td><input name="summary" placeholder="Summary"></td>
					<td><input name="due" type="date" placeholder="Due Date"></td>
				</form>
			</tr>
			{% for task in tasks %}
			<tr>
				<td class="buttons">
					<form action="/task/{{task.id}}" method="DELETE">
						<input type="hidden" name="_method" value="DELETE">
						<button action="submit">✘</button>
					</form>
				</td>
				<td>{{task.priority}}</td>
				<td>{{task.summary}}</td>
				<td>{{task.due}}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</body>

